@import url('https://fonts.googleapis.com/css?family=Alkatra:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chivo Mono:300,400,500,600,700,800,900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%;

}

header {
    font-family: 'Alkatra', Alkatra;
    width: 50%;
    height: 40%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(pppp.jpg);
    background-position: center center 0;
    background-size: 100%;
    color: aliceblue;
    padding-left: 250px;
}

.logo {
    position: absolute;
    margin-top: -10px;
    width: 70px;
    height: 70px;
}

.logo img {
    width: 70px;
    height: 60px;
}

nav {
    position: relative;
    margin-right: -20px;
    width: 250px;
    height: 100px;
    float: right;

}

nav ul {
    list-style-type: none;

}

nav li {
    list-style-type: none;
    margin-right: 5px;
    list-style-type: none;
    display: inline;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    padding-left: 10px;
    padding: 0px 0px;
    border-radius: 20px;
    font-size: 10px;
    font-weight: bold;
}

nav a:hover {
    background: #094b65;
    color: #fff;
}

nav ul li .dropdown li {
    margin-bottom: -15px;
    padding-top: 2px;
    display: block;
}

nav ul li .dropdown {
    width: 75px;
    height: 50px;
    background-color: #094b65;
    position: absolute;
    margin-left: 60px;
    margin-top: 5px;
    display: none;

}

nav ul li .dropdown a {
    margin-left: -30px;
}

nav ul li:hover .dropdown {
    display: block;
}

.search_box {
    position: absolute;
    height: 45px;
    width: 80px;
    top: -3px;
    margin-left: 100px;
    padding-top: 15px;
}

.search_box .search {
    position: absolute;
    left: 15px;
    top: 21px;
    left: 15px;
    color: #4a98f7;
}

.search_box input {
    height: 30px;
    width: 100px;
    border: none;
    outline: none;
    background-color: #fffb;
    border-radius: 6px;
    padding-left: 40px;
}

header {
    font-family: 'Alkatra', Alkatra;
    width: 44%;
    height: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(cprheader.jpeg);
    background-position: center center 0;
    background-size: 100%;
    color: aliceblue;
    border-radius: 0% 0% 500% 100%;
    padding-left: 250px;
    padding-top: 120px;

}

#headerheimlich {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(babyHeader.jpeg);
    background-size: 85%;
}

#headerAed {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(HeaderAed.jpg);
    background-size: 100%;

}

#bleedingHeader {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(bloodHeader.png);
    background-size: 85%;

}

header h1 {
    background-color: #72383d;
    height: 50px;
    width: 200px;
    text-align: center;
    margin-left: -220px;
    font-size: 15px;
    margin-top: -40;
}

#nav2 {
    width: 100px;
    height: 200px;
    float: left;
    text-align: center;
    margin-top: 20px;
}

#nav2 a {
    text-decoration: none;
    color: #094b65;
    font-size: 10px;

}

#nav2 li {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #915257;
    border-bottom: 2px solid #fff;
    width: 80px;
    display: block;

}

#nav2 ul {
    list-style-type: none;
    margin-left: -30px;
    width: 200px;
}

#nav2 a:hover {
    color: white;
}

main {
    width: 330px;
    float: right;
    margin-right: 0px;
}

#whatIs {
    background-color: #094b65;
    width: 100%;
    height: 260px;
}

#bloodWhatIs {
    background-color: #094b65;
    width: 100%;
    height: 200px;
}

#bloodwhatIs p {
    width: 200px;
    padding-left: 20px;
    float: left;
    font-family: 'Quicksand';
    font-size: 10px;
    color: #fff;
}

#bloodwhatIs img {
    width: 140px;
    height: 100px;
    margin-left: 150px;
    margin-top: -5px;
    border-radius: 100% 20% 80% 50%;

}

#whatIs img {
    width: 100px;
    height: 140px;
    float: right;
    margin-right: 20px;
    margin-top: 50px;

}

.bord {
    float: right;
    width: 100px;
    height: 140px;
    border: 2px solid #72383d;
    position: absolute;
    margin-left: 190px;
    margin-top: 20px;
}

#N1 {
    height: 20px;
    width: 20px;
    color: #fff5;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;

}

#step1 {
    width: 240px;
    font-family: 'Chivo Mono';
    margin-left: 50px;
    margin-top: 10px;
    float: left;
}

#step1 h3 {
    position: absolute;
    color: #094b65;
    font-size: 20;
    margin-top: -5px;
}
#step1 p{
    font-size: 10px;
    margin-top: 50px;
}
#step1 li{
    padding-top: 10px;
    font-size: 10;
}
#step2 li{
    padding-top: 10px;
    font-size: 10;
}
#step3 li{
    padding-top: 10px;
    font-size: 10;
}
#whatIs h2 {
    padding-left: 10px;
    color: #915257;
    font-size: 30px;
    font-family: 'Alkatra';
    height: 20px;
}

#whatIs p {
    width: 200px;
    padding-left: 10px;
    float: left;
    font-family: 'Quicksand';
    font-size: 10px;
    color: #fff;
    width: 170px;
}

#main2 #Whatis img {
    width: 100px;
    height: 150px;
    margin-top: 30px;
    border-radius: 50% 50% 0% 0%;
}

#main2 #Whatis p {
    width: 190px;

}

#whenToUse {
    background-color: #d9d9d9;
    margin-top: -20px;
    height: 400px;
}

#whenToUse h2 {
    background-color: #fff;
    height: 20px;
    padding-top: 0px;
    padding-bottom: 60px;
    color: #72383d;
    font-family: 'Alkatra';
    font-size: 30px;
    padding-left: 40px;

}

#steps {
    height: 1600px;
    background-color: #d9d9d9;
}

#whenToUse2 {
    background-color: #d9d9d9;
    margin-top: -20px;
    height: 600px;
}

#whenToUse2 h2 {
    background-color: #fff;
    height: 40px;
    padding-top: 0px;
    padding-bottom: 10px;
    color: #72383d;
    font-family: 'Alkatra';
    font-size: 30px;
    padding-left: 20px;

}

#stepImg1 img {
    height: 300px;
    width: 250px;
    border-radius: 30% 0% 30% 0%;
    float: right;
    margin-right: 60px;
    margin-top: 20px;
    display: none;
}

#N2 {
    clear: both;
    height: 20px;
    width: 20px;
    color: #fff5;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;


}

#step2 {
    position: relative;
    width: 240px;
    font-family: 'Chivo Mono';
    margin-left: 50px;
    margin-top: -10px;

}
#step2 p{
    font-size: 10px;
    
}

#step2 h3 {
    color: #094b65;
    font-size: 20px;

}

#stepImg2 img {
    height: 300px;
    width: 300px;
    float: left;
    margin-left: 70px;
    margin-top: -30px;
    display: none;
}

#stepImg22 img {
    height: 300px;
    width: 300px;
    float: left;
    margin-left: 70px;
    margin-top: 30px;
    display: none;
}

#N3 {
    clear: both;
    height: 20px;
    width: 20px;
    color: #fff5;
    font-size: 30px;
    margin-top:-30px;
    margin-left: 20px;
}

#step3 {
    width: 250px;
    font-family: 'Chivo Mono';
    margin-left: 50px;
    margin-top: -10px;
    float: left;
}

#step3 h3 {
    color: #094b65;
    font-size: 20;
}
#step3 p{
    font-size: 10px;
}
.child li {
    list-style-image: url(icon.jpg);
}

#stepImg3 img {
    height: 220px;
    width: 230px;
    border-radius: 50% 50% 0% 0%;
    float: right;
    margin-right: 100px;
    margin-top: -30px;
    display: none;
}

#stepImg32 img {
    height: 220px;
    width: 230px;
    border-radius: 50% 50% 0% 0%;
    float: right;
    margin-right: 100px;
    margin-top: 50px;
    display: none;
}

#N4 {
    clear: both;
    height: 20px;
    width: 20px;
    color: #fff5;
    font-size: 30px;
    margin-top: -30px;
    margin-left: 20px;

}

#step4 {
    width: 250px;
    font-family: 'Chivo Mono';
    margin-left: 50px;
    margin-top: -10px;
}

#step4 h3 {
    color: #094b65;
    font-size: 20;
}

#stepImg4 img {
    height: 300px;
    width: 250px;
    float: left;
    margin-left: 70px;
    margin-top: 70px;
    border-radius: 5% 50% 50% 5%;
    display: none;

}
#step4 p{
    font-size: 10px;
    margin-top: 50px;
}
#step4 li{
    padding-top: 10px;
    font-size: 10;
}

#whenToUse img {
    width: 150px;
    height: 70px;
    position: absolute;
    margin-top: -64px;
    margin-left: 130px;
}

.whenToUseDiv {
    background-color: #fff;
    width: 270px;
    height: 250px;
    margin-top: -43px;
    margin-left: 30px;
    padding-top: 40px;
}

.whenToUseDiv p {
    font-size: 10px;
    padding-left: 20px;
    font-family: 'Chivo Mono';

}

.whenToUseDiv li {
    list-style-image: url(Redicon.png);
    font-size: 10px;
    font-family: 'Chivo Mono';
}

#beforeCPR {
    height: 300px;
    background-color: #d9d9d9;
    margin-top: -45px;
}

#beforeCPR img {
    width: 140px;
    height: 270px;
    float: left;
    margin-top: -10px;
    display: none;
}

#beforeCPR ol {
    float: right;
    width: 200px;
    height: 180px;
    margin-right: 80px;
    font-family: 'Quicksand';
    font-size: 10px;
    line-height: 15px;
    margin-top: -5px;
}

#beforeCPR p {
    font-family: 'Quicksand';
    margin-left: 40px;
    font-size: 10px;
    font-weight: bold;
}

#beforeCPR h2 {
    font-family: 'Alkatra';
    padding-left: 40px;
    font-size: 25px;
    width: 240px;
    margin-bottom: -20px;
    height: 80px;
    text-align: center;
    color: #72383d;
    line-height: 30px;
}

#perform {
    height: 870px;
    margin-top: -10px;
    margin-bottom: -230;
}

#perform h2 {
    font-family: 'Alkatra';
    color: #72383d;
    font-size: 30px;
    height: 40px;
    margin-bottom: 0px;

}

.under {
    height: 5px;
    width: 40px;
    border-radius: 20px;
    background-color: #094b65;
}

#perform #Y {
    background-color: #094b65;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    height: 43px;
    width: 270px;
    font-size: 10px;
}

#perform #N {
    background-color: azure;
    color: black;
    height: 40px;
    padding: 5px;
    font-size: 10px;
    border-radius: 10px;
    width: 270px;
}

#perform li {
    list-style-type: none;
}

#perform ol {
    float: left;
    margin-top: 30px;
}

#perform #imgcpr {
    float: right;
    width: 250px;
    height: 250px;
    margin-top: 50px;
    display: none;
}

.imgDiv {
    width: 250px;
    height: 250px;
    background-color: #915257;
    margin-left: 600px;
    display: none;
}

#perform h3 {
    color: #915257;
    font-family: 'Alkatra';
    font-size: 20px;
    margin-left: 20px;
    clear: both;
    height: 50px;
}

#perform #imgcpr2 {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    float: left;
    display: none;
}

#aedimg {
    width: 350px;
    height: 300px;
    margin-top: 50px;
    float: left;
    transform: skew(-10deg);
    display: none;
}

#AedOl {
    float: right;
    width: 330px;
    background-color: #915257;
    margin-top: 50px;
    font-size: 10px;
    height: 500px;

}

#AedOl #Y {
    margin-left: -15px;
    height: 50px;
}

#AedOl #N {
    margin-left: -15px;
    height: 50px;

}

#Hline {
    height: 3px;
    width: 400px;
    background-color: #094b65;
    margin-top: 370px;
    margin-left: 0px;
    display: none;
}

#Vline {
    height: 400px;
    width: 3px;
    background-color: #094b65;
    margin-top: -20px;
    margin-left: 320px;
    transform: skew(-10deg);
    display: none;
}

#dl {
    width: 300px;
    height: 300px;
    position: absolute;
    margin-top: -380;
    transform: skew(-10deg);
    display: none;

}

#dl dt {
    color: #72383d;
    font-size: 20px;
    display: none;
}

#dl dd {
    font-size: 17px;
    color: #094b65;
    display: none;
}

.imgDiv2 {
    width: 250px;
    height: 250px;
    background-color: #915257;
    margin-left: 50px;
    display: none;
}

.olDiv {
    float: right;
    margin-right: 10px;
}

.child {
    background-color: #fff;
    width: 270px;
    line-height: 15px;
    font-family: 'Chivo Mono';

}

#child h2 {
    font-family: 'Alkatra';
    color: #72383d;
    font-size: 25px;
    height: 40px;
    margin-top: -20px;
}

.childBack img {
    width: 250px;
    height: 300px;
    float: right;
    margin-right: 30px;
    margin-top: 150px;
    display: none;
}

.childBack {
    background-color: #d9d9d9;
    height: 650px;
    padding: 30px;
}

.child li {
    padding: 10px;
    font-size: 10px;
    list-style-image: url(Redicon.png);

}

#video {
    clear: both;
    height: 220px;
    background-color: #094b65;
    margin-top: 20px;
    margin-bottom: 10px;
}

#video video {
    width: 400px;
    height: 250px;
    margin-top: 65px;
    margin-left: 40px;
    float: left;
    border-radius: 20px;
    display: none;
}

#video iframe {
    width: 400px;
    height: 300px;
    margin-top: 47px;
    margin-left: 40px;
    float: left;
    border-radius: 20px;
    display: none;
}

#note {
    position: absolute;
    float: right;
    width: 290px;
    height: 180px;
    background-color: #fff;
    margin-left: 10px;
    margin-top: 20px;
    padding-left: 20px;
}

#note h3 {
    color: #72383d;
    font-family: 'Alkatra';
    font-size: 30px;
    height: 15px;
    margin-top: 3px;
}

#note p {
    font-family: 'Quicksand';
    font-size: 12px;
    padding-left: 20px;
}

#WhatIs #h2 {
    line-height: 30px;
    text-align: center;
    margin-left: 00px;
    width:300px;
    padding-top: 10px;
}

#WhatIs video {
    margin-right: 15px;
    float: right;
    width: 130px;
    height:200px;
    margin-top: -10px;
}

#chocking img {
    border-radius: 60% 40% 50% 10%;
    margin-top: -5px;
    margin-left: 160;
    position: relative;
    width: 100px;
    height: 100px;
}

#WhatIs p img {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

#HeimlichP {
    margin-top: 40px;
}

#performHeimlich h2 {
    font-family: 'Alkatra';
    color: #72383d;
    font-size: 25px;
    margin-bottom: -45px;
    height: 40px;
}

#performHeimlich .f1 {
    float: left;
    margin-right: 50px;
    font-family: 'Quicksand';
    color: #094b65;
    font-size: 16px;
    margin-left: 60px;
    text-decoration: underline;
    display: none;
}

#performHeimlich .f2 {
    float: left;
    margin-right: 50px;
    font-family: 'Quicksand';
    color: #094b65;
    font-size: 16px;
    text-decoration: underline;
    display: none;
}

#performHeimlich .f3 {
    float: left;
    font-family: 'Quicksand';
    color: #094b65;
    font-size: 16px;
display: none;
    text-decoration: underline;


}

#performHeimlich .f4 {
    clear: both;
    padding-top: 2px;
}

#performHeimlich .contain {
    background-color: #d9d9d9;
    margin-top: 120px;
}

#performHeimlich .contain .f4 h3 {
    font-family: 'Alkatra';
    color: #72383d;
    font-size: 20px;
    width:250px;
    margin-left: 50px;
}

#performHeimlich .contain .f4 li {
    font-size: 10px;
    font-family: 'Chivo Mono';
}

#performHeimlich .contain .f4 ol {
    margin-left: 40px;
    line-height: 20px;
}

#performHeimlich a {
    color: #4a98f7;
}

#performHeimlich .f5 {
    clear: both;
    padding-top: 2px;

}

#performHeimlich .contain .f5 h3 {
    font-family: 'Alkatra';
    color: #72383d;
    font-size: 20px;
    text-align: center;
}

#performHeimlich .contain .f5 p {
    font-size: 10px;
    font-family: 'Chivo Mono';
    margin-left: 50px;
    line-height: 20px;
}

#performHeimlich .f6 {
    clear: both;
    padding-top: 2px;

}

#performHeimlich .contain .f6 h3 {
    font-family: 'Alkatra';
    color: #72383d;
    font-size: 20px;
    text-align: center;
}

#performHeimlich .contain .f6 p {
    font-size: 10px;
    font-family: 'Chivo Mono';
    margin-left: 50px;
    padding-bottom: 30px;
    line-height: 20px;
}

.return {
    padding-top: 5px;
    margin-left: 280px;

}

.return a {
    
    padding: 3px;
    color:#094b65;
    font-weight: bold;
    text-decoration: none;

}
.return:hover a{
    
    text-shadow: 
    0 0 10px #72383d,
    0 0 20px#72383d,
    0 0 30px#72383d,
    0 0 40px #72383d,
    0 0 50px #72383d,
    0 0 60px #72383d,
    0 0 70px#72383d;
}

#prevention .img {
    width: 300px;
    height: 300px;
    float: right;
display:  none;
    margin-right: 35px;
}

#prevention .img img {
    width: 400px;
    margin-top: -80px;
    height: 500px;
}

#prevention .txt h2 {
    font-family: 'Alkatra';
    color: #72383d;
    font-size: 35px;
    height: 40px;

}

#prevention .txt p {
    font-size: 16px;
    font-family: 'Quicksand';
    margin-left: 50px;
}

#prevention #Y {
    background-color: #094b65;
    color: #fff;
    padding: 5px;
    font-size: 13px;
    border-radius: 10px;
    margin-bottom: 5px;
    height: 33px;
    width: 270px;
}

#prevention #N {
    font-size: 13px;
    background-color: azure;
    color: #72383d;
    height: 33px;
    padding: 5px;
    list-style-type: none;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 270px;
}

footer {
    clear: both;
}

footer {
    background-color: #d9d9d9;
    width: 100%;
    height: 80px;

    text-align: center;

}

footer p {
    padding-top: 20px;
    color: #72383d;
    font-size: 13px;
    font-weight: 540;
}

footer a {
    text-decoration: none;
    color: #094b65;

}